body {
  margin: 0;
  background: repeating-linear-gradient(
    45deg,
    #282C34,
    #282C34 10px,
    #383C44 10px,
    #383C44 20px
  );
  font-family: 'Courier New', monospace;
  font-size: 16px;
  color: #ffffff;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
